body{
    background-color: aliceblue;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 155px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
}
.logo h3{
    font-family: Roboto;
    font-size: 42px;
    margin: 25px auto;
}
.logo p{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 2fr 120px 1fr 180px 1fr 90px 2fr;
    margin-top: 100px;
}
.comp-icons{
    display: flex;
    flex-direction: column;
}
.comp-icons > div > img{
    padding: 20px 15px;
    
    width: 90px;
    height: 90px;
}
.comp-info{
    text-align: center;
    background-color: #2980b9;
    font-size: 14px;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    margin-top: 50px;
    font-family: Roboto;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0 auto;
    text-align: center;

}
.stats h2{
    font-size: 48px;
    font-family: Roboto;
}
#win-info{
    font-family: Poppins;
    font-size: 14px;
}

.player-icons{
    display: flex;
    flex-direction: column;
}
.player-icons > div > img{
    padding: 20px 15px;

    width: 90px;
    height: 90px;
}
.player-info{
    background-color: #2980b9;
    font-size: 14px;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    margin-top: 50px;
    margin-right: -20px;
    font-family: Roboto;
}
.player-icons .rock img:hover, .player-icons .paper img:hover, .player-icons .scissors img:hover{
    cursor: pointer;
    border-radius: 70px;
    border: 1px solid #487eb0;
}
footer{
    margin-top: 150px;
    text-align: center;
    padding-top: 15px;
    background-color: #192a56;
    width: 100%;
    height: 100px;
}
footer div a {
    color: black;
    transition: ease-in-out 1s;
}
footer div a:hover{
    color: white;
}
footer p {
    font-family: Roboto;
    color: white;
    font-size: 12px;
    font-weight: 50;
}